ComputacaoAutonoma/Orquestrador/Service References/ServiceReference_GerenciadorCor/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/GerenciadorCor" />
  <xs:element name="ObtemCor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtemCorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciadorCor" minOccurs="0" name="ObtemCorResult" nillable="true" type="q1:Cor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>