ComputacaoAutonoma/Orquestrador/Service References/ServiceReference_RespostaAgente/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IniciaEscuta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciaEscutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciaEscutaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Responde">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMensagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bErro" type="xs:boolean" />
        <xs:element minOccurs="0" name="sServidorAlternativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>