ComputacaoAutonoma/AgenteMonitorRecurso/Service References/ServiceReference_SolicitacaoAjuda/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReiniciaHospedeiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNomeComputador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNomeServico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReiniciaHospedeiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReiniciaHospedeiroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReiniciaContadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReiniciaContadoresResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoReativado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNomeComputador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoReativadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>